#showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.greeting {
    margin-top: 150px;
    color: var(--light-blue);
    font-family: Fira Code;
    font-size: 0.9rem;
    font-weight: 200;
    padding-left: 10px;
}

.my-name h3{
    color: var(--light-blue);
    font-family: Calibri;
    font-size: 4.5rem;
    letter-spacing: .5px;
}

.whoami h3{
    color: var(--dark-purple);
    font-family: Calibri;
    font-size: 4.5rem;
    letter-spacing: .5px;
}

.intro p{
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 100px;
    width: 35vw;
    letter-spacing: .2x;
}

@media only screen and (max-width: 1300px) {

    .my-name h3 {
        font-size: 3.5rem;
    }
    .whoami h3 {
        font-size: 3.5rem;
    }
    .intro p {
       width: 50vw;
    }

}
@media only screen and (max-width: 850px) {
    .my-name h3 {
        font-size: 3rem;
    }

    .whoami h3 {
        font-size: 3rem;
    }

    .intro p {
       width: 80vw;
    }
}